html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  width: 397px;
  text-align: left;
}

.header-title {
  margin: 20px 0px 5px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.cardvalidation-widget {
  display: block;
  background-color: white;
  padding: 20px;
  border-width: 1px;
  border-radius: 10px;
  border-style: ridge;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.pay-systems {
  padding: 0px 0px 10px;
  display: flex;
}

.pay-system {
  min-width: 50px;
  min-height: 30px;
  margin-right: 5px;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: lightgray;
  background-color: azure;
  background-repeat: no-repeat;
  background-size: cover;
}

.validation-form {
  display: flex;
  min-height: 35px;
  max-height: 30px;
}

.input {
  font-size: 16px;
  border-style: solid;
  border-color: lightgray;
  border-width: 2px;
  border-radius: 5px;
  background-color: azure;
  padding: 8px;
  min-width: 240px;
  margin-right: 5px;
}

.submit {
  font-size: 16px;
  border-width: 0px;
  border-radius: 5px;
  background-color: rgb(89, 137, 0);
  color: white;
  min-width: 130px;
  min-height: 37px;
}

.visa {
  background: url('../img/visa.png');
}

.mastercard {
  background: url('../img/mastercard.png');
}

.mir {
  background: url('../img/mir.png');
}

.americanexpress {
  background: url('../img/american-express.png');
}

.discover {
  background: url('../img/discover.png');
}

.jcb {
  background: url('../img/jcb.png');
}

.diners {
  background: url('../img/diners.png');
}

.disabled {
  background-position: 0 -30px;
  opacity: 0.3;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.result {
  width: 398px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.result-title, .reason-title {
  margin: 5px 0px 0px;
}

.hidden {
  display: none;
}

.valid {
  color: rgb(89, 137, 0);
}

.notvalid {
  color: red;
}